In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('2017_jun_final.csv')

In [6]:
print(df.head())

   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

In [7]:
print("Розмір таблиці:", df.shape)

Розмір таблиці: (8704, 25)

In [8]:
print("Типи стовпців:", df.dtypes)

Типи стовпців: N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [9]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("Частка пропусків в кожному стовпці:")
print(missing_percentage)

Частка пропусків в кожному стовпці:
N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Спеціалізація                       82.938879
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.113051
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    2.562040
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

In [10]:
df = df.dropna(subset=['Мова програмування'])

In [11]:
missing_percentage_after_drop = (df.isnull().sum() / len(df)) * 100
print("Частка пропусків після видалення стовпців:")
print(missing_percentage_after_drop)

Частка пропусків після видалення стовпців:
N                                    0.000000
Посада                               0.000000
Мова програмування                   0.000000
Спеціалізація                       99.979398
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.758962
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    0.618047
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.835187
cls                                  0.164813
dtype: float64

In [12]:
df = df.dropna()
print(f"Новий розмір таблиці: {df.shape}")

Новий розмір таблиці: (0, 25)

In [13]:
python_data = df[df['Мова програмування'] == 'Python']

In [14]:
print(f"Розмір таблиці python_data: {python_data.shape}")

Розмір таблиці python_data: (0, 25)

In [15]:
grouped_data = df.groupby('Посада').agg({'Зарплата на місяць': ['min', 'max']})
grouped_data.columns = [f'{col[0]}_{col[1]}' for col in grouped_data.columns]

In [16]:
def fill_avg_salary(row):
    return (row['Зарплата на місяць_min'] + row['Зарплата на місяць_max']) / 2 if not pd.isna(row['Зарплата на місяць_min']) and not pd.isna(row['Зарплата на місяць_max']) else pd.NaT

grouped_data['avg'] = grouped_data.apply(fill_avg_salary, axis=1)
print("Описова статистика для нового стовпчика 'avg':")
print(grouped_data['avg'].describe())

Описова статистика для нового стовпчика 'avg':
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: avg, dtype: float64

In [17]:
grouped_data.to_csv('output_data.csv', index=False)